.grid-layout {
display: grid;
grid-template-areas:
"header header"
"aside content"
"footer footer";
grid-template-columns: 1fr 2fr;
gap: 3px;
background-color: rgb(126, 97, 64);
padding: 5px;
}

.box {
background: rgb(207, 177, 120);
border-radius: 10px;
}

.header {
text-align: center;
color: white;
grid-area: header;
background: rgb(75, 58, 38);
}

.aside {
grid-area: aside;
background-color: 207, 177, 120;
}

.footer{
grid-area: footer;
text-align: center;
}

@media (max-width: 600px) {
.grid-layout{
grid-template-areas:
"header"
"aside"
"content"
"footer";
grid-template-columns: 1fr;
}

}
body{
    background-color: rgb(126, 97, 64);
}
body{
    color: black;
}

figure img{
    width: 100%;
    max-width: 400px;
}